body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-page-header {
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.BroadArea-box {
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 20px;
}

.Broad-box {
  width: 600px;
  height: 600px;
  margin: auto;
}

.BoardRow-box {
  display: flex;
}

.BoardCol-box{
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BoardCol-row{
  position: absolute;
  width: 100%;
  border-bottom: 1px solid grey;
  top: 50%;
}

.BoardCol-col{
  position: absolute;
  height: 100%;
  border-right: 1px solid grey;
  left: 50%;
}

.checkerboard {
  border: 1px solid #333;
  height: 70%;
  width: 70%;
  border-radius: 50%;
  z-index: 1;
}